* {
  box-sizing: border-box;
}

body {
  font-family: fantasy, sans-serif, ariel;
  padding: 30px;
  border: 25px;
  margin: 40px;
}


.top-head {

  margin-top: .25em;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: black;
  /*text-decoration-color: white;*/
  color: white;
  font-family: Circular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;
}

.navi {
  text-align: center;
}

.top-list {
  text-decoration: none;
  text-align: center;
  margin: auto 2px;
  padding: 4px 6px;
  font-size: 20px;
  font-weight: bolder;
  color: rgba(255,255,255,1);
  background-color: lightgrey;
  display: inline-block;
  font-family: Circular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.grid-guys {
    /*display: inline-block;*/
    float: left;
    width: 30%;
    margin: 10px;
    border: solid magenta;

}

.img-guys {
  width: 100%;
  margin: 0px 0px 10px;
}

.container-a {
  display: inline-block;

}

.container-b {
  display: inline-block;
  background-color: yellow;
}
