* {
  box-sizing: border-box;
}

body {
  font-family: fantasy, sans-serif, ariel;
  padding: 30px;
  border: 25px;
  margin: 40px;
}

#nav {
  width:100%;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 100px;
  position: relative;
}

.top-head {

  margin-top: .25em;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: black;
  /*text-decoration-color: white;*/
  color: white;
  font-family: Circular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;
}

/*.navi {
  text-align: center;
  margin: 0 auto;
}*/

.top-list a {

  display: block;
  position: abosolute;
  text-decoration: none;
  text-align: center;
  margin: 0px 2px 50px 2px;
  padding: 4px 6px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(255,255,255  );
  background-color: lightgrey;
  /*display: inline-block;*/
  float: left;
  font-family: Circular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.grid-guys {
    /*overflow: hidden;*/
    /*display: inline-block;*/
    /*float: left;*/
    width: 30%;
    margin: 10px;
    border: solid magenta;
    float:left;
    height: 475px;

}

.img-guys {
  width: 100%;
  margin: 0px 0px 10px;
}

.container-a {
  display: inline-block;
  margin: 20px auto;

}

.container-b {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  /*text-decoration: none;*/
  /*display: inline-block;*/
  background-color: rgb(255,220,0);
  text-align: center;
  /*font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;*/
}

.container-b a {
  color: blue;
  text-decoration: none;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

footer {
    clear: both;
    position: relative;
    margin: -5em;
    padding-top: 4em;
    color: black;
    width: inherit;
    height: 3.2em;
    background-color: black;
    background-repeat: repeat-x;*
    z-index:-1;
}

footer p {
  position: absolute;
  left:48%;
  color: green;
  z-index: 8;
  font-family: fantasy,cursive,"Helvetica",inherit;
}

/*bad attempt at
footer {
  display: block;
  text-align: center;
  height: 100px;
  /*position: absolute;
  bottom: 0;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: black;
  /*text-decoration-color: white;
  color: white;
  font-family: Circular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;
}*/
